button {
  border-radius: 0;
  border: 1px solid #A9F;
  background-color: #fef;
  color: #66c;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  padding: 8px;
}

button.active {
  background-color: #66C;
  color: #FEF;
}

.calendar-row {
  padding: 10px 0;
}
